{extend name="index_base" /} {block name="content"}

<div class="container public">
    <div class="col-md-12">
        <div class="alert alert-info ">
            工具
        </div>
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="main">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-8">工具</th>
                                <th class="col-md-4">发布时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="pub" id="public"}

                            <tr>
                                <td>
                                    <a href="{:url('/index/article/view',['id'=>$public.arc_id])}">{$public.arc_title}</a>
                                </td>
                                <td>{:date('Y-m-d H:i',$public.create_time)}</td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
                <div class="pull-left">
                    {$pub->render()}
                </div>

            </div>
        </div>
    </div>
</div>
{/block}