 {extend name="user_base" /} {block name="user_content"}

<div class="alert alert-info">
    产品扫描
</div>
<div class="panel panel-info">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <select name="" id="" class="form-control">
                    <option value="">请选择产品</option>
                </select>
            </div>
            <div class="col-md-8">
                <select name="" id="" class="form-control">
                    <option value="">请选择项目</option>
                </select>
            </div>
            <div class="col-md-12">
                <hr>
                <div class="panel panel-danger">
                    <div class="panel-body">
                        测试结果<br>
                        测试结果<br>
                        测试结果<br>
                        测试结果<br>
                        测试结果<br>
                        测试结果<br>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

{/block}