{extend name="user_base" /} {block name="user_content"}
<div class="panel panel-primary">
    <div class="main">
        <h3 class="text-info">
            {$tdata.arc_title}
        </h3>
        <hr>
        <p>
            发表时间：
            <span class="text-info">{:date('Y-m-d H:i',$tdata.create_time)}</span>&nbsp;&nbsp;&nbsp; 作者：
            <span class="text-info">{$tdata.arc_author}</span>
        </p>
        <hr>
        <p>
            {$tdata.arc_content}
        </p>
        <hr> {if condition="$tdata.attach_name neq ''"}
        <p>
            附件：
            <a href="{:url('downattach',['id'=>$tdata.arc_id])}" class="btn">{$tdata.attach_name}</a>
        </p>
        {/if}
    </div>
</div>

<script>
    function getTop() {
        // alert($('html, body'));
        $('html body').animate({ scrollTop: 0 }, 'fast');
    }
</script>

{/block} 