{extend name="user_base" /} {block name="user_content"}
<script src="__STATIC__/js/PCASClass.js"></script>
<div class="alert alert-info">
    添加项目
</div>
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-info">
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="{:url('store')}">提交项目</a>
                    </li>
                </ul>
                <div class="main">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="itemname" class="col-sm-2 col-md-2 control-label">项目名称
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-10 col-md-10">
                                <input type="text" class="form-control" id="itemname" placeholder="请输入项目名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">
                                项目所在地
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-3 col-md-3">
                                <select name="province" id="itemaddr" class="form-control">
                                </select>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <select name="city" id="itemaddr" class="form-control">
                                </select>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <select name="area" id="itemaddr" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">所属产品
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-4 col-md-4">
                                <select id="vulproduct" class="form-control">
                                    <option value="1">WCM</option>
                                    <option value="1">IDS</option>
                                    <option value="1">MAS</option>
                                    <option value="1">WAS</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-md-2 control-label">版本
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-4 col-md-4">
                                <select id="vulproduct" class="form-control col-sm-12">
                                    <option value="1">6.5</option>
                                    <option value="1">7.0</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="itemproperty" class="col-sm-2 col-md-2 control-label">项目性质
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-10 col-md-10">
                                <select name="" id="itemproperty" class="form-control">
                                    <option selected disabled>请选择项目性质</option>
                                    <option value="1">部委</option>
                                    <option value="2">省厅</option>
                                    <option value="3">市局</option>
                                    <option value="3">区县</option>
                                    <option value="3">媒体</option>
                                    <option value="3">教育科研</option>
                                    <option value="3">事业单位</option>
                                    <option value="3">金融</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="itemurl" class="col-sm-2 col-md-2 control-label">项目地址
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-2 col-md-2">
                                <select class="form-control">
                                    <option>外网</option>
                                    <option>内网</option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <input type="text" class="form-control" id="itemurl" placeholder="项目URL地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="itemdesc" class="col-sm-2 col-md-2 control-label">项目备注
                            </label>
                            <div class="col-sm-10 col-md-10">
                                <textarea class="form-control" rows="5" id="itemdesc" placeholder="请输入项目备注"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-2 col-md-2">
                                <button type="submit" class="btn btn-danger">提交项目</button>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <button type="button" class="btn btn-info">预览项目</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    提交须知
                </div>
            </div>
            <div class="panel-body">
                提交项目须知，提交项目须知，提交项目须知，提交项目须知，提交项目须知，提交项目须知，提交项目须知，提交项目须知，提交项目须知，提交项目须知，提交项目须知，
            </div>
        </div>
    </div>
</div>
<script>
    new PCAS("province", "city", "area");
</script> {/block}