{extend name="admin_base" /} {block name="admin_content"}

<div class="alert alert-info">
    项目详情
</div>


<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-2">项目名称：</div>
            <div class="col-md-9">
                <span class="text-danger">{$_pro.pro_name}</span>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-2">所属分公司：</div>

            <div class="col-md-9">
                <span class="text-danger">{$_pro.subcom_name}</span>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-2">项目所在地：</div>
            <div class="col-md-9">
                <span class="text-danger">{$_pro.pro_locate_province} {$_pro.pro_locate_city} {$_pro.pro_locate_district}</span>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-2">所属产品：</div>
            <div class="col-md-9">
                <span class="text-danger">{$_pro.pdt_name}-{$_pro.pdt_version}</span>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-2">项目性质：</div>
            <div class="col-md-9">
                <span class="text-danger">{$_pro.pro_level}</span>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-2">项目URL地址：</div>
            <div class="col-md-9">
                <span class="text-danger">{$_pro.pro_net_type}-
                    <a href="{$_pro.pro_url}" target="_blank">{$_pro.pro_url}</a>
                </span>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-2">项目备注：</div>
            <div class="col-md-9">
                <span class="text-danger">{$_pro.pro_remark}</span>
            </div>
        </div>
    </li>
</ul>
<button onclick="javascript:history.back()" class="btn btn-danger">返回</button>

{/block}