{extend name="admin_base" /} {block name="admin_content"}



<div class="alert alert-info">
    扫描器设置
</div>
<form action="" class="form-horizontal" method="post">
    <div class="form-group col-md-10">
        <label for="" class="control-label ">扫描器所在位置：</label>
    </div>
    <div class="form-group">

        <div class="col-md-8">
            <input type="text" class="form-control" value="" placeholder="扫描器物理路径">
        </div>
        <input type="submit" value="提交" class="btn btn-danger col-md-2">
    </div>
</form>



{/block}