{extend name="index_base" /}

{block name="content"}

    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="__STATIC__/img/xingkong2.jpg" width="100%" alt="...">

            </div>
            <div class="item">
                <img src="__STATIC__/img/xingkong1.jpg" width="100%" alt="...">
                <div class="carousel-caption">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
        <i class="fa carousel-icon">TRS SECURITY PLATFORM</i>
        <i class="fa carousel-icon2">安全无止境，我们一直在努力</i>
        <a href="{:url('index/user/index')}" class="btn btn-danger btn-lg submit-bug">反馈安全问题</a>
    </div>


    <div class="container">

        <div class="public">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                发布公告
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <a href="#" class="btn btn-link link-more">更多..</a>
                            </div>

                            <table class="table table-hover table-condensed">
                                <tr>
                                    <th class="col-md-8">公告</th>
                                    <th>时间</th>
                                </tr>
                                <tr>
                                    <td>WCM 最新补丁公告</td>
                                    <td>2018-01-01</td>
                                </tr>

                                <tr>
                                    <td>WCM 最新补丁公告</td>
                                    <td>2018-01-01</td>
                                </tr>
                                <tr>
                                    <td>WCM 最新补丁公告</td>
                                    <td>2018-01-01</td>
                                </tr>
                                <tr>
                                    <td>WCM 最新补丁公告</td>
                                    <td>2018-01-01</td>
                                </tr>
                                <tr>
                                    <td>WCM 最新补丁公告</td>
                                    <td>2018-01-01</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>



                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                安全文章
                            </h3>
                        </div>
                        <div class="panel-body">

                            <div class="col-md-12">
                                <a href="#" class="btn btn-link link-more">更多..</a>
                            </div>

                            <table class="table table-hover table-condensed">
                                <tr>
                                    <th class="col-md-8">公告</th>
                                    <th>时间</th>
                                </tr>
                                <tr>
                                    <td>WCM 最新补丁公告</td>
                                    <td>2018-01-01</td>
                                </tr>

                                <tr>
                                    <td>WCM 最新补丁公告</td>
                                    <td>2018-01-01</td>
                                </tr>
                                <tr>
                                    <td>WCM 最新补丁公告</td>
                                    <td>2018-01-01</td>
                                </tr>
                                <tr>
                                    <td>WCM 最新补丁公告</td>
                                    <td>2018-01-01</td>
                                </tr>
                                <tr>
                                    <td>WCM 最新补丁公告</td>
                                    <td>2018-01-01</td>
                                </tr>
                                
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    平台介绍
                </h3>
            </div>
            <div class="panel-body">
                平台简介 拓尔思一直致力于建设诚信、共赢、繁荣的电子商务产业生态圈。安全是其健康成长的核心要素，为此特成立公司安全部，隶属于其的安全响应中心（TRS Security Platform,简称TRSSP）欢迎广大用户向我们反馈拓尔思公司各事业部旗下相关产品及业务的安全漏洞和威胁情报，以帮助我们提升自身产品及业务的安全性，同时也希望借此平台加强与安全业界同仁的合作与交流。我们诚邀您共同为打造健康安全的电子商务产业生态圈贡献力量。
            </div>
        </div>
    </div>

{/block}