<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/login.css">
    <script src="__STATIC__/js/jquery.min.js"></script>
    <script src="__STATIC__/js/bootstrap.min.js"></script>
    <link href="__STATIC__/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="login-header">
        <a href="{:url('index')}">
            <img src="__STATIC__/img/footerlogo.png">
        </a>
    </div>

    <div class="login-body">
        <div class="login-form">
            <h3 class="header text-center">
                用户登录
            </h3>
            <hr>

            <form class="form-horizontal" role="form" method="post">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon  input-lg">
                                <span class="glyphicon glyphicon-user" ></span>
                            </span>
                            <input type="text" class="form-control input-lg " name="username" placeholder="用户名">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="input-group ">
                            <span class="input-group-addon input-lg">
                                <span class="glyphicon glyphicon-lock"></span>
                            </span>
                            <input type="password" class="form-control input-lg" name="password" placeholder="密码">
                        </div>
                    </div>
                </div>
                <div class="form-group has-warning">
                    <img onclick="refresh_code()" id="captcha" alt="captcha" height="50" class="col-sm-offset-2 col-sm-4" />
                    <div class="col-sm-4">
                        <input type="text" class="form-control input-lg" name="captcha" placeholder="验证码">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <input type="submit" class="btn btn-primary btn-lg col-md-12" value="登录">
                    </div>
                </div>
            </form>
        </div>
    </div>


</body>

<script>
    function refresh_code() {
        $("#captcha").attr("src", "{:url('captcha')}" + "?code=" + Math.random());
    }
    refresh_code();
</script>

</html>