{extend name="admin_base" /} {block name="admin_content"}

<div class="alert alert-info">
    查看用户
</div>
<div class="panel panel-info">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-offset-1 col-md-4">
                <div class="col-md-12 person">
                    {if condition="$user.headimg neq ''"}
                    <img src="{$user.headimg}" class="person-header img-responsive img-thumbnail" width="200"> {else /}
                    <img src="__STATIC__/img/header.jpg" class="person-header img-responsive img-thumbnail" width="200"> {/if}
                </div>
                <div class="col-md-12">
                    <h5 class="text-center">用户名：{$user.username}&nbsp;&nbsp;&nbsp;所属公司：{$user.subcom_name}</h5>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-4">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>安全问题</th>
                            <th>统计</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>漏洞总计</td>
                            <td>{$sum}</td>
                        </tr>
                        {volist name="vstate" id="vs"}

                        <tr>
                            <td>{$vs.vul_state}</td>
                            <td>{$vs.cc}</td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr>

<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-2">真实姓名：</div>
            <div class="col-md-10">{$user.realname}</div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-2">所属分公司：</div>
            <div class="col-md-10">{$user.subcom_name}</div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-2">所属部门：</div>
            <div class="col-md-10">{$user.department}</div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-2">职位：</div>
            <div class="col-md-10">{$user.job}</div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-2">电话：</div>
            <div class="col-md-10">{$user.phone}</div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-2">邮箱：</div>
            <div class="col-md-10">{$user.email}</div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-2">用户级别：</div>
            <div class="col-md-10">{if condition="$user.level=='1'"}管理员{else /}普通用户{/if}</div>
        </div>
    </li>

</ul>
<button class="btn btn-danger" onclick="javascript:history.back()">返回</button>


{/block}