{extend name="user_base" /} {block name="user_content"}

<div class="alert alert-info">
    个人信息编辑
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="main">
                    <form action="">
                        <div class="col-md-4 text-center">
                            <div class="profile-header">

                                <div class="input-group" style="margin:15px;">
                                    {if condition="$user.headimg neq ''"}
                                    <img src="{$user.headimg}" class="person-header img-responsive img-thumbnail"> {else /}
                                    <img src="__STATIC__/img/header.jpg" class="person-header img-responsive img-thumbnail"> {/if}

                                    <em class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片" onclick="removeImg(this)">×</em>
                                </div>
                            </div>
                            <div class="input-group">
                                <input class="form-control" name="thumb" readonly="" value="">
                                <div class="input-group-btn">
                                    <button onclick="upImagePc(this)" class="btn btn-danger" type="button">浏览</button>
                                    <button onclick="useImage()" class="btn btn-primary" type="button">确定</button>
                                </div>
                            </div>
                        </div>


                    </form>

                    <div class="col-md-7">
                        <form class="form-horizontal" method="post">
                            <div class="form-group">
                                <label for="curruser" class="col-sm-3 col-md-3 control-label">
                                    用户名
                                </label>
                                <!-- <div class="col-sm-8 col-md-8"> -->
                                <label for="curruser" class="col-sm-8 col-md-8 form-control-static">
                                    {$user.username}
                                </label>
                                <!-- </div> -->
                            </div>
                            <div class="form-group">
                                <label for="curruser" class="col-sm-3 col-md-3 control-label">
                                    真实姓名
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="curruser" name="realname" value="{$user.realname}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subcompany" class="col-sm-3 col-md-3 control-label">
                                    所属分公司
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-6 col-md-6">
                                    <select name="subcom_id" id="subcompany" class="form-control">
                                        {volist name="sub" id="com"}
                                        <option value="{$com.subcom_id}" {if condition="$user.subcom_id==$com.subcom_id" }selected{/if}>{$com._subcom_name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="department" class="col-sm-3 col-md-3 control-label">
                                    所属部门
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" name="department" id="department" value="{$user.department}" placeholder="所属部门">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="job" class="col-sm-3 col-md-3 control-label">
                                    职位
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-6 col-md-6">
                                    <input type="text" class="form-control" name="job" value="{$user.job}" id="job" placeholder="职位">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-3 col-md-3 control-label">
                                    邮箱
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" name="email" value="{$user.email}" id="email" placeholder="邮箱">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-sm-3 col-md-3 control-label">
                                    电话
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" name="phone" value="{$user.phone}" id="phone" placeholder="电话">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-md-offset-3 col-sm-8 col-md-8">
                                    <input type="submit" class="form-control btn btn-danger" value="保存">
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    require(['hdjs']);
    //上传图片
    function upImagePc() {
        require(['hdjs'], function (hdjs) {
            var options = {
                multiple: false,//是否允许多图上传
                //data是向后台服务器提交的POST数据
                data: { name: '后盾人', year: 2099 },
            };
            hdjs.image(function (images) {
                //上传成功的图片，数组类型
                $("[name='thumb']").val(images[0]);
                $(".img-thumbnail").attr('src', images[0]);
            }, options)
        });
    }

    //移除图片
    function removeImg(obj) {
        $(obj).prev('img').attr('src', '__STATIC__/node_modules/hdjs/dist/static/image/nopic.jpg');
        $(obj).parent().prev().find('input').val('');
    }

    function useImage() {
        imgpath = $(".img-thumbnail").attr('src');
        if (imgpath) {
            $.post(
                "{:url('headimg')}",
                {
                    headimg: imgpath
                },
                function (data) {
                    if (data.code == 1) {
                        require(['hdjs'], function (hdjs) {
                            hdjs.notify({
                                title: "信息:",
                                message: data.msg,
                                icon: 'glyphicon glyphicon-star',
                            }, {
                                    offset: 50,
                                    type: 'warning',
                                    delay: 3000
                                })
                        })
                    } else {
                        require(['hdjs'], function (hdjs) {
                            hdjs.notify({
                                title: "错误:",
                                message: data.msg==null||''?'修改头像失败，请确认已经更改了图片':data.msg,
                                icon: 'glyphicon glyphicon-remove-circle',
                            }, {
                                    offset: 50,
                                    type: 'danger',
                                    delay: 3000
                                })
                        })
                    }

                }
            )
        }
    }

</script> {/block}